

body {
	background-color: #8c8c8c;
	

}

header{
	width: 100%;


}

main{
	width: 100%;
	display: block;
	margin: 0 auto;
	background-color: #252525;
	
	display: flex;
	height: 100%;


}

.wrapper{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.navbar-brand.item{
	float: left;
}


footer {
	height: 3.5rem;
	
	width: 100%;
	background-color: #252525;
	position: fixed;
	bottom: 0;


}

.container.navbar {
	width: 850px;
}

.main-tab{
	max-width: 900px;
	margin: 0 auto;
	margin-top: 8px;
	height: 100%;
	padding: 5px;
	background-color: #2d2d2d;
	-webkit-box-shadow: 4px 3px 3px 2px rgba(25, 25, 25, 1);
	-moz-box-shadow:    4px 3px 3px 2px rgba(25, 25, 25, 1);
	box-shadow:         4px 3px 3px 2px rgba(25, 25, 25, 1);
}

.tab-area{
	width: 900px;
	
	padding: 20px;

}

.tab-info img {
	border-radius: 15px;
}

.text-area {
	width: 740px;
	
}

.tab-bottom{
	width: 100px;
	height: 25px;
	border-radius: 25px;
	margin-top: 5px;
}

h1 {
	color: white;
	font-size: 15px;
}

.tab-bottom a {
	
	text-align: center;

}

.text-area-field {
	font-size: 20px;
}

.footer-info {
	width: 900px;
	margin: 0 auto;
	margin-top: 15px;
	justify-content: center;
}

.ava-info {
	margin: 10px;
}

.main-tab-info {
	padding: 10px;
	margin-top: 10px;
}
